<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-User</title>
</head>

<body>
    <h4>Add Credientials</h4>
    <form method="post" action="/user/submit">
        <input placeholder="Enter ID" name="id" />
        <input placeholder="Enter username" name="username" />
        <input placeholder="Enter email" name="email" />
        <input type="password" placeholder="Enter Password" name="password"></br>
        <button>Submit</button>
    </form>
</body>

</html>